study/spring-boot-study/springbootwebsocket2/src/main/resources/META-INF/schemas/user.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://192.168.1.11/index.php/schemas" xmlns="http://192.168.1.11/index.php/schemas">
    
    <!-- 用户对象 ：ID ,名字和年龄 -->
    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name="age" type="xs:int" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="UserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:long" />
                <xs:element name="timestamp" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="User" />
                <xs:element name="timestamp" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>